<%- include('login/partials/header') %>

<div class="cartheading">
    <h1>Your cart</h1>
</div>
<div class="container-fluid" id = "addtable">
    <h3>Selected Items</h3>
    <table id = "item-table">
        <thead>
            <tr>
                <th>Item-name</th>
                <th>Item-price</th>
                <th>Item-quantity</th>
                <th>Add/Remove</th>
            </tr>
        </thead>
        <tbody id = "item-table-ki-body">
            
        </tbody>
        <tfoot id = "item-table-ka-foot">

        </tfoot>
    </table>
    <button type="submit"></button>
</div>
<script src="js/index.js"></script>
<%- include('login/partials/footer') %>