<%- include('login/partials/header') %>

  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Success</h1>
      <p class="col-md-8 fs-4">We have recieved your payment</p>
      <h2 class="display-5 fw-bold">Order Summary</h2>
    </div>
  </div>

  <div id = "ordersandsummary">
  <div class = "container-fluid" id="oid"></div>
  <div class="table">
    <table>
      <thead>
        <tr>
          <th>Item-Name</th>
          <th>Item-Quantity</th>
        </tr>
      </thead>
      <tbody>
        <% for(let i=0;i< arr.length ; i++){ %>
        <tr>
          <td><%= arr[i].productName %></td>
          <td><%= arr[i].productQuantity %></td>
        </tr>
        <%}%>
      </tbody>
    </table>
  </div>
</div>
<script>
        let info = localStorage.getItem("finalorder");
        let obj = JSON.parse(info);
        let divbody = document.getElementById("oid");
        let divitem = `<div>Amount Paid : ${obj.amount / 100}</div>
          <div>Order Id : ${obj.order_id}</div>
        `;
        divbody.innerHTML = divitem;
        // setTimeout(()=>{
        //   window.location.replace("/");
        // },10000)
</script>
<%- include('login/partials/footer') %>